<ion-app>
  <!-- MENU LATERAL GLOBAL -->
  <ion-menu content-id="main-content" side="end">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">Início</ion-item>
        <ion-item routerLink="/sobre">Sobre</ion-item>
        <ion-item routerLink="/config">Configurações</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- CONTEÚDO PRINCIPAL -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
