// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #4CAF50;
  --ion-color-secondary: #2196F3;
  --ion-color-tertiary: #FFEB3B;
  --ion-color-light: #F5F5F5;
  --ion-color-dark: #333333;
  --ion-color-danger: #E53935;
}
